
{% extends 'sellerapp/base.html' %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>
<div class="container mt-4">
    <div class="row">
{% for property in properties %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ property.image.url }}" alt="{{ property.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ property.name }}</h5>
      <p class="card-text">{{ property.description }}.</p>
      <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">See more</a>
      
    </div>
  </div>
  {% endfor %}




  

{% endblock %}
